* {
  box-sizing: border-box;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg {
  background-image: url(../imgs/biblioteca.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 15px;
  height: 100vh;
  overflow-y: auto;
}
.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .software-name {
  display: flex;
  justify-content: flex-start;
  color: white;
  align-items: center;
}
.header .software-name h2 {
  margin: 0 20px 0 0;
}
.header .software-name span {
  width: 150px;
}
.header img {
  width: 150px;
  height: 100%;
  margin-left: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 165px;
}
.table {
  background-color: rgba(255, 255, 255, 0.9);
  color: #2d2d2d;
}
.table thead th {
  vertical-align: middle;
}
.table td {
  vertical-align: middle;
}
.table th {
  vertical-align: middle;
}
.content-table {
  display: block;
  width: 100%;
}
.content-table .table-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px 12px 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.5);
}
.content-table .table-header .title {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: space-between;
}
.content-table .table-header .back {
  cursor: pointer;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}
.content-table .table-header .back i {
  font-size: 30px;
  color: #2d2d2d;
}
.content-table .table-header .back:hover i {
  color: #4166a3;
}
.content-table .table-header .back span {
  color: #2d2d2d;
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 19px;
  margin-left: 10px;
}
.content-table .table-header .back:hover span {
  color: #4166a3;
}
.content-table .table-header a {
  color: #2d2d2d;
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 19px;
  text-decoration: underline;
  font-weight: bold;
}
.content-table .table-header a:hover {
  color: #4166a3;
}
.content-table .table-header .title img {
  width: auto;
  height: 3rem;
  margin-right: 20px;
}
.content-table .table-header h2 {
  color: #2d2d2d;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 0;
  flex: 1 0 auto;
  text-transform: uppercase;
}
form.form-search {
  display: flex;
  align-self: center;
  /* max-width: 850px; */
  margin: 20px 0;
}
.form-search .search-radio {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 30px 0 0 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.5);
  padding: 15px 0 15px 15px;
  min-height: 60px;
}
.form-search .search-radio .custom-control {
  padding-left: 3rem;
  min-height: 1.8rem;
}
.form-search .search-radio .custom-control-label {
  display: flex;
  align-items: center;
}
.form-search .search-radio .custom-control-label::before {
  width: 1.8rem;
  height: 1.8rem;
  top: 0;
  left: -2.3rem;
}
.form-search .search-radio .custom-control-label::after {
  top: 0.28rem;
  left: -2rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: no-repeat;
}
.form-search
  .search-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border-color: #4166a3;
  background-color: #4166a3;
}
.form-search
  .search-radio
  .custom-control-input:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #4166a3;
}
.form-search .input-group {
  flex: 1 0 auto;
  width: auto;
  position: relative;
}
.form-search .input-group img.load {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 50%;
  top: 32%;
  display: none;
}
.form-search .input-group.load-data img.load {
  display: block;
}
.form-search .input-group input.form-control {
  border-radius: 0;
  border: 0;
  min-height: 60px;
  height: auto;
  outline: none;
  border-radius: 30px 0 0 30px;
  width: 400px;
}
.form-search .input-group.load-data input.form-control:disabled {
  opacity: 0.5;
}
.form-search .input-group input.form-control:focus {
  box-shadow: none;
}
.form-search .input-group .input-group-append {
  margin: 0;
}
.form-search .input-group .input-group-append .btn-secondary {
  background-color: #fff;
  border: 0;
  border-radius: 0 30px 30px 0;
  width: 58px;
  padding: 0 0 0 2px;
}
.form-search .input-group.load-data .input-group-append .btn-secondary {
  opacity: 0.5;
  background-color: #e9ecef;
}
.form-search .input-group .input-group-append .btn-secondary:focus {
  box-shadow: none;
}
.form-search .input-group .input-group-append .btn-secondary:hover .radius {
  opacity: 0.7;
}
.form-search .input-group.load-data .input-group-append .btn-secondary .radius {
  opacity: 0.5;
}
.form-search .input-group .input-group-append .btn-secondary .radius {
  background-color: #4166a3;
  padding: 15px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.form-search .input-group .input-group-append .btn-secondary i {
  font-size: 26px;
  color: white;
}
.form-search
  .search-radio
  .custom-control-input:focus
  ~ .custom-control-label::before {
  box-shadow: none;
  border-color: #adb5bd;
}
.content-card {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  flex-wrap: wrap;
  width: 100%;
}
.content-card .card {
  align-items: center;
  background: initial;
  width: 14.125rem;
  margin: 10px;
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.content-card .card .img {
  width: 14.125rem;
  min-height: 10.0625rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}
.content-card .card .img .card-img-top {
  height: auto;
  width: auto;
}
.content-card .card .card-body {
  padding: 1rem 0.8rem;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 14.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-card .card .card-body .card-title {
  color: #000000;
  font-size: 15px;
  letter-spacing: -0.53px;
  line-height: 20px;
  margin: 0;
}
.content-card .card .card-body .card-title span {
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: initial;
  }
}

.div-hidden {
  display: none;
}

@keyframes cardIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes tableIn {
  0% {
    transform: translateX(-3000px);
  }
  60% {
    transform: translateX(25px);
  }
  75% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
input:-internal-autofill-selected {
  background-color: inherit !important;
}
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer p {
  margin: 0 0 5px;
}
.footer p span {
  font-weight: 600;
}
.footer h6 {
  font-weight: 600;
  margin: 0 0 5px;
}
@media (max-width: 992px) {
  .content-card {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .form-search .search-radio {
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .form-search .input-group input.form-control {
    border-radius: 30px 0 0 30px;
  }
  form.form-search {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-search .search-radio .custom-control {
    padding-left: 2.5rem;
  }
  .table td,
  .table th {
    max-width: 96px;
  }
  .content-table .table-header .title img {
    margin-right: 0;
    height: 2.5rem;
  }
  .table th,
  .table td {
    vertical-align: baseline;
  }
}
@media (max-width: 500px) {
  .form-search .input-group input.form-control {
    width: 300px;
  }
  .form-search .input-group input.form-control {
    width: 230px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer a, .footer h6, .header .software-name span {
    font-size: 12px;
  }
  .header .software-name h2 {
    font-size: 1.5rem;
  }
  .header img {
    width: 125px;
    margin-left: 0;
  }
}

